<!DOCTYPE html>
<html lang="en">
    <%- include('./../../layout/head') %>
    <%- include('./../../layout/header') %>
<body>
    
    <section>
        
        <form action="/books/<%= id %>?_method=PUT" method="POST" name= "author">
            <input  name="title" value="<%= title %>"></input>
            <input  name="author" value="<%= author %>"></input>
            <input  name="isbn" value="<%= isbn %>"></input>
            <input  name="image_url" value="<%= image_url %>"></input>
            <input  name="description" value="<%= description %>"></input>
            <select>
                <option>Default Bookshelf</option>
                <option>Default Bookshelf</option>
            </select>
            <button type="submit" value="Add to Collection">Update Book</button>
        </form>
        
    </section>
    <%- include('./../../layout/footer') %>
</body>
</html>