<!DOCTYPE html>
<html lang="en">

<%- include('./../layout/head') %>

<body>

    <%- include('./../layout/header') %>

    <h2>New Book search</h2>

    <a href="/searches/new">Enter</a>

    <% booksFromDB.forEach(value => { %>
        <p><%= value.id%></p>

        <%- include('./books/detail', value) %>
        <a href="/books/<%= value.id%>">Detail View</a>

     
    <% }) %>

    <p><%= booksFromDB.length %></p>
    <%- include('./../layout/footer') %>
</body>
</html>