<!DOCTYPE html>
<html lang="en">

<%- include('./../layout/head') %>

<body>

    <%- include('./../layout/header') %>

    <!-- <h2>New Book search</h2> -->
    <a href="/searches/new"><h2>New Book search</h2></a>
    <% booksFromDB.forEach(value => { %>
<section id="six">

        <!-- <p><%= value.id%></p> -->

        <%- include('./books/detail', value) %>
        
        <form action="/books/<%= value.id%>" method="GET" name= "book">
            <button type="submit" >Detail View</button>
          </form>
     
        </section>
    <% }) %>
    <%- include('./../layout/footer') %>
</body>
</html>